SERVER_PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=brsense

JWT_SECRET=change_this_to_a_random_long_secret
JWT_EXPIRES=4h

ADMIN_KEY=change_me_admin
BCRYPT_ROUNDS=12
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
